
#tradeBody {
	width: 80%;
	margin: auto;
}

.title_collection {
	font-size: 14px;
}

#chart {
	text-align: center;
}

/* chart css: */
#chart {
        font: 10px sans-serif;
    }

    .axis text {
        font-size: 6px;
    }

    text.symbol {
        fill: #BBBBBB;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    path.volume {
        fill: #DDDDDD;
    }

    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }

    .indicator path.line {
        fill: none;
        stroke-width: 1;
    }

	/* trade arrows: */
	.tradearrow {
		z-index: -1;
	}

	.data {
		z-index: -1;
	}

	path.tradearrow {
		stroke: none;
	}

	path.tradearrow.BUY {
		fill: #0000FF;
	}

	path.tradearrow.buy-pending {
		fill-opacity: 0.2;
		stroke: #0000FF;
		stroke-width: 1.5;
	}

	path.tradearrow.SELL {
		fill: #9900FF;
	}

	.tradearrow path.highlight {
		fill: none;
		stroke-width: 2;
	}

	.tradearrow path.highlight.BUY,.tradearrow path.highlight.buy-pending {
		stroke: #0000FF;
	}

	.tradearrow path.highlight.buy-pending {
		fill: #0000FF;
		fill-opacity: 0.3;
	}

	.tradearrow path.highlight.SELL {
		stroke: #9900FF;
	}

	/* cross hair */
	.y.annotation.left.BUY path {
		fill: #00AA00;
	}

	.y.annotation.left.SELL path {
		fill: #FF0000;
	}

	.y.annotation.right path {
		fill: #FF0000;
	}

	.x.annotation path {
		fill: #DDD80E;
	}

	.crosshair {
		cursor: crosshair;
	}

	.crosshair path.wire {
		stroke: #DDDDDD;
		stroke-dasharray: 1, 1;
	}

	.crosshair .axisannotation path {
		fill: #DDDDDD;
	}
